@use '../abstracts/colors';

.nav {
  &__items {
    display: flex;
    padding: 0;
    margin: 0;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 1em;
    background-color: colors.$VeryDarkBlue;
    cursor: pointer;
    border-radius: 8px;
    flex-shrink: 0;
  }

  &__item a:focus {
    outline: dashed 3px colors.$GrayishBlue;
    outline-offset: 5px;
  }

  &__item+&__item {
    margin-left: 1rem;
  }

  &__item:hover {
    background-color: colors.$BodyFontColor;
    transition: 120ms all ease-in;

  }


}