@use '../abstracts/typography';
@use '../abstracts/colors';

body {
  color: colors.$BodyFontColor;
  font-size: typography.$BodyCopyFontSize;
  font-family: typography.$BodyCopyFontFam, sans-serif;
  background-image: url(../../img/bg-mobile.png);
  background-size: cover;
}