@use '../abstracts/mixins';
@use '../abstracts/vars';

@include mixins.for-tablet-portrait-up {
  body {
    background-image: url(../img/bg-desktop.png);
    background-size: 100% 50%;
    background-position: bottom right;
    background-repeat: no-repeat;
  }

  .container {
    flex-direction: row;
    align-items: flex-end;
    max-width: 1440px;
    justify-content: center;
    margin-bottom: unset;
    padding-top: 0;
    padding: 0;
  }

  .controller {
    min-width: 350px;
    max-height: 200px;
  }

  .progress {
    min-width: 540px;
    margin-top: unset;
    margin-left: 1.143rem;
    align-items: flex-start;
    padding-bottom: unset;

    &__storageLeft {
      position: absolute;
      top: -45px;
      right: 2.857rem;
      padding: 1.5rem 1.857rem;
      border-radius: vars.$BorderRadiusGlobal;
      border-bottom-right-radius: unset;
    }

    &__storageLeft::after {
      content: '';
      position: absolute;
      bottom: -20px;
      right: 0;
      height: 0;
      width: 0;
      border-top: 20px solid white;
      border-left: 20px solid transparent;
    }
  }
}